ANKI_SECURE=True
CF_ACCESS_CLIENT_ID=CF_ACCESS_CLIENT_ID.access
CF_ACCESS_CLIENT_SECRET=CF_ACCESS_CLIENT_SECRET


# LLM to Anki Automation Settings
LLM_API_KEY=your_llm_api_key_here
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
LLM_MODEL_NAME=gemini-1.5-flash
ANKI_CONNECT_URL=http://127.0.0.1:8765
ANKI_CONNECT_API_KEY=